.tasks-container {
  width: 400px;
  min-height: 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  font-weight: 300;
  border: 1px solid #ececec;
  border-radius: 5px;
  padding: 8px;
  gap: 10px;
}

.task-content-functions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.task-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ececec;
  border-radius: 5px;
  background-color: #ffffff;
  transition: 0.4s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.task-content:hover {
  background-color: #f6f6f6;
}

.finish-task {
  margin-right: 5px;
}