@import "fonts.css";

:root {
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(135deg, #e3e4e6, #b0b4bb);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-wrapper {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.auth-header {
  width: 100%;
  height: 200px;
  background-color: #ffffff;
  background-image: url(./images/auth-top.jpg);
  background-size: cover;
  background-repeat: repeat;
}

.auth-bottom {
  width: 100%;
  height: 200px;
  background-color: #ffffff;
  background-image: url(./images/auth-bottom.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position: center -90px;
}

.add-project-container,
.get-projects-container,
.add-task-container {
  width: 250px;
}

.main-container {
  width: 1200px;
  min-height: 700px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  gap: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.task-manager {
  width: 1100px;
  min-height: 450px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px dotted #ececec;
  border-radius: 10px;
}

.task-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.main-header, .main-bottom {
  height: 100px;
  width: 100%;
  background-image: url("./images/auth-top.jpg");
  background-repeat: repeat;
  background-size: cover;
}